header{
  background-image: url('./assets/header.png');
  height: 50vh;
  padding-inline:20%;
  display: flex;
  align-items: center;
}

h1{
  color: white;
  font-family: 'Balsamiq-Sans', cursive;
  font-weight: bold;
  font-style: italic;
}
